* {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.nav-item {
    display: inline;
    text-align: center;
}

.link {
    text-decoration: wavy;
    color: white;
    font-size: 28px;
    text-align: center;
    margin: 10px 20px;
}